{% extends "template.html" %}

{% block title %}Home{% endblock %}

{% block main %}
<div class="container-lg my-3">
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="text-bi-medium-blue">This is a test</h5>
          
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="text-bi-medium-blue">Another test</h5>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}