{% extends "template.html" %}

{% block title %}First Preferred Partner{% endblock %}

{% block main %}
<div class="container my-5">
    <div class="form-container">
        <h2 class="mb-4">Select 1st Preferred Partner</h2>
        <form action="{{ url_for('preferred_2') }}" method="post">
            <div class="mb-3">
                <label for="preferred_student_id_1" class="form-label">1st Preferred Partner</label>
                <select class="form-select custom-select" id="preferred_student_id_1" name="preferred_student_id_1" required>
                    <option value="">Select a student</option>
                    {% for student in classmates %}
                    <option value="{{ student.student_id }}">{{ student.student_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>
{% endblock %}
