{% extends "template.html" %}

{% block title %}Questionnaire{% endblock %}

{% block main %}
<div class="container my-5">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-container">
        <h2 class="mb-4">Questionnaire Form</h2>
        <form action="{{ url_for('questionnaire') }}" method="post">
            <div class="mb-3">
                <label for="student_id" class="form-label label-style">Student's Name</label>
                <select class="form-select custom-select" id="student_id" name="student_id" required>
                    <option value="">Select a student</option>
                    {% for student in students %}
                    <option value="{{ student.student_id }}">{{ student.student_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="teacher_id" class="form-label">Homeroom Teacher</label>
                <select class="form-select custom-select" id="teacher_id" name="teacher_id" required>
                    <option value="">Select a teacher</option>
                    {% for teacher in teachers %}
                    <option value="{{ teacher.teacher_id }}">{{ teacher.teacher_name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mb-3">
                <label for="course_id" class="form-label">Favorite Course</label>
                <select class="form-select custom-select" id="course_id" name="course_id" required>
                    <option value="">Select a course</option>
                    {% for course in courses %}
                    <option value="{{ course.course_id }}">{{ course.course_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Next</button>
        </form>
    </div>
</div>
{% endblock %}
