{% extends "template.html" %}

{% block title %}Summary{% endblock %}

{% block main %}
<div class="container-lg my-3">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <caption class="caption-top">Student Pairs Summary</caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Student name 1</th>
              <th scope="col">Preferred course</th>
              <th scope="col">Student name 2</th>
              <th scope="col">Preferred course 2</th>
            </tr>
          </thead>
          <tbody>
            {% for row in student_pairs %}
            <tr>
              <td>{{ row['student_name'] }}</td>
              <td>{{ row['course_name']}}</td> 
              <td>{{ row['preferred_student_name'] }}</td>
              <td>{{ row['preferred_student_preferred_course'] }}</td> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="container-lg my-3">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <caption class="caption-top">Top 3 Most Popular Students </caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Class</th>
              <th scope="col">Most popular student</th>
              <th scope="col">Ranking</th>
            </tr>
          </thead>
          <tbody>
            {% for row in popular_students %}
            <tr>
              <td>{{ row['class_name'] }}</td>
              <td >{{row['student_name'] }}</td> 
              <td >{{row['row'] }}</td> 
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
    <div class="container-lg my-3">
      <div class="table-responsive">
        <table class="table table-sm table-hover">
          <caption class="caption-top">Popularity of Courses </caption>
          <thead class="table-dark">
            <tr>
              <th scope="col">Rank</th>
              <th scope="col">Courses</th>
            </tr>
          </thead>
          <tbody>
            {% for row in popular_courses %}
            <tr>
              <td >{{ row['rank'] }}</td>
              <td >{{ row['course_name'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

{% endblock %}