{% extends "template.html" %}

{% block title %}Thank You{% endblock %}

{% block main %}
<div class="container my-5 center-content">
  <h2>Thank You!</h2>
  <img src="{{ url_for('static', filename='images/thankyou.gif') }}" alt="Thank You" class="responsive-img">
  <p class="lead">We appreciate you taking the time to complete our questionnaire.</p>
  <div class="button-container">
    <a href="{{ url_for('home') }}" class="btn btn-primary">Return Home</a>
    <a href="{{ url_for('summary') }}" class="btn btn-primary">View Summary</a>
  </div>
</div>
{% endblock %}
